$map-height: 600px;

.yandex-map-container {
  height: $map-height;
}

.add-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.coordinates-container {
  height: $map-height;
  overflow: scroll;
}

@media all and (max-width: 960px)  {
  .coordinates-container {
    height: 300px;
    overflow: scroll;
  }
}

